{$DOMAIN} {
	tls {
		dns cloudflare {env.CLOUDFLARE_AUTH_TOKEN}
	}

	import snippets/Logging

	# Traffic Analytics service
	import snippets/TrafficAnalytics

	# ActivityPub Service
	import snippets/ActivityPub

	# Default proxy everything else to Ghost
	handle {
		reverse_proxy ghost:2368 {
			trusted_proxies 10.0.0.0/8
		}
	}

	# Optional: Enable gzip compression
	encode gzip

	# Optional: Add security headers
	import snippets/SecurityHeaders
}

# Separate admin domains
# To use a separate domain for Ghost Admin uncomment the block below (recommended)
{$ADMIN_DOMAIN} {
	tls {
		dns cloudflare {env.CLOUDFLARE_AUTH_TOKEN}
	}

	import snippets/Logging

	# Traffic Analytics service
	import snippets/TrafficAnalytics

	# ActivityPub Service
	import snippets/ActivityPub

	# Default proxy everything else to Ghost
	handle {
		reverse_proxy ghost:2368 {
			trusted_proxies 10.0.0.0/8
		}
	}

	# Optional: Enable gzip compression
	encode gzip

	# Optional: Add security headers
	import snippets/SecurityHeaders
}

# Redirect www -> root domain
www.{$DOMAIN} {
	import snippets/Logging
	redir https://{$DOMAIN}{uri}
}
