{{!< default}}

{{#post}}
<article class="post-full page-full">
    <div class="container container-narrow">
        {{#if @page.show_title_and_feature_image}}
            <header class="post-header">
                <h1 class="post-title">{{title}}</h1>
            </header>

            {{#if feature_image}}
                <figure class="post-image">
                    <img src="{{feature_image}}" alt="{{title}}" />
                </figure>
            {{/if}}
        {{/if}}

        <section class="post-content">
            {{content}}
        </section>
    </div>
</article>
{{/post}}